numpy>=2.0.2:numpy
openai==2.38.0:openai
networkx>=3.2.1:networkx
pyvis==0.3.2:pyvis
langchain_openai==1.2.2:langchain_openai
langchain_community==0.4.2:langchain_community
toml==0.10.2:toml
tomli==2.4.1:tomli
geopandas>=1.0.1:geopandas
pandas>=2.3.0:pandas
pydantic==2.13.4:pydantic
langchain==1.3.2:langchain
seaborn==0.13.2:seaborn
rasterio>=1.4.3:rasterio
